* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #f1f0f0;
}

.barra_superior {
    margin : 0;
    height: 50px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 203, 203);
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.flex {
    display: flex;
}

.barra {
    height: 22px;
    width: 100%;
    background-image: repeating-linear-gradient(117deg, #f3d984, #f3d984 50px, #edc972 50px, #edc972 100px);
}

.bloquinho {
    height: 30px;
    font-size: 1rem;
    width: fit-content;
    border: 1px solid rgb(158, 141, 141);
    gap: 5px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(223, 216, 216);
    justify-content: center;
    align-items: center;
}

.bloquinho:hover {
    cursor: pointer;
}

.barra-menu {
    height: 45px;
    width: 100%;
    background-color: rgb(226, 216, 216);
    box-shadow: 0px -5px 17px -3px rgba(0,0,0,0.3);
    padding-left: 10px;
}

.menu {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    height: 45px;
    width: 85%;
    gap: 15px;
    align-items: center;
}

.cancel {
    color: red;
}

.cancel p {
    color: black;
}

.save {
    color: rgb(19, 120, 167);
}

.save p {
    color: black;
}

.apagado {
    opacity: 0.3;
}

.navigation {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    width: 450px;
    height: 850px;
    background-color: white;
}

.barra-navigation {
    height: 55px;
    padding: 15px;
    padding-left: 30px;
    gap: 45px;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 3px solid #2399bd;
    background-color: #f7f7f7
}

#menor {
    font-size: 1rem;
    font-weight: none;
    opacity: 0.5;
}

#icone {
    margin-left: 75px;
}

.tabela{
    font-size: 1.2rem;
    border: 1px;
    color: black;
}